<!-- ko with: manage -->
<div data-bind="visible: loading">Loading...</div>
<div data-bind="visible: !loading()">
    
    
        @*my code*@
        <div class="panel panel-primary">
            <div class="panel-heading">View All Registered Companies</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Short Name</th>
                        <th>Location</th>
                        <th>Company Owner Name</th>
                        <th>Phone Number</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: companies">
                    <tr>
                        <td data-bind="text: $data.companyName"></td>
                        <td data-bind="text: $data.shortName"></td>
                        <td data-bind="text: $data.location"></td>
                        <td data-bind="text: $data.companyOwnerName"></td>
                        <td data-bind="text: $data.phoneNumber"></td>
                        <td data-bind="text: $data.description"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <p class="text-success" data-bind="text: message"></p>
        <h2>Manage Account</h2>
        <section>
            <div data-bind="with: changePassword">
                <p class="text-info">You're logged in as <strong data-bind="text: name"></strong>.</p>
                <form class="form-horizontal" role="form">
                    <h4>Change your password</h4>
                    <hr />
                    <ul class="text-danger" data-bind="foreach: errors">
                        <li data-bind="text: $data"></li>
                    </ul>
                    <div class="form-group">
                        <label for="ChangePasswordOldPassword" class="col-md-2 control-label">Old password</label>
                        <div class="col-md-10">
                            <input type="password" id="ChangePasswordOldPassword" class="form-control" data-bind="value: oldPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ChangePasswordNewPassword" class="col-md-2 control-label">New password</label>
                        <div class="col-md-10">
                            <input type="password" id="ChangePasswordNewPassword" class="form-control" data-bind="value: newPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ChangePasswordConfirmPassword" class="col-md-2 control-label">Confirm new password</label>
                        <div class="col-md-10">
                            <input type="password" id="ChangePasswordConfirmPassword" class="form-control" data-bind="value: confirmPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" data-bind="click: change, disable: changing">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section>
            <ul class="text-danger" data-bind="foreach: errors">
                <li data-bind="text: $data"></li>
            </ul>
            <div data-bind="if: logins().length > 0">
                <h4>Registered logins</h4>
                <table class="table">
                    <tbody data-bind="foreach: logins">
                        <tr>
                            <td data-bind="text: loginProvider"></td>
                            <td>
                                <div data-bind="if: $parent.canRemoveLogin">
                                    <form>
                                        <div>
                                            <button type="submit" class="btn btn-default" data-bind="attr: { title: 'Remove this ' + loginProvider() + ' credential from your account' }, click: remove, disable: removing">Remove</button>
                                        </div>
                                    </form>
                                </div>
                                <span data-bind="if: !$parent.canRemoveLogin()">&nbsp;</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
<!-- /ko -->
